In [59]:
import pandas as pd
import numpy as np

start_l_mc = 33
start_c_mc = 31
start_l_mes = 33
start_c_mes = 30
n_strips = 136
step_thickness = np.array([0, 1, 2, 3, 4, 6])

data_file = r"C:\Users\milewski\OneDrive - Université Grenoble Alpes\these\papiers\caracterisation_detecteur_153_voies\simulations_MC\results_step_phantom.xlsx"
ws_name = "ESRF_poly"

df = pd.read_excel(data_file, sheet_name=ws_name)
subset_df = df.iloc[
    8 : 8 + n_strips, 2 : 8
]
# print(subset_df[subset_df.isna().any(axis=1)])

In [60]:
subset_df

     Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7
8     12.138056   10.371042    8.755334    7.557182    6.471166    4.897109
9    907.719547   781.57201  659.846363   565.98168  485.052974  359.676627
10    11.527903    9.923282    8.391081    7.143976    6.142404    4.515293
11   896.016014  771.693505  651.196761  559.784627  479.369595  355.308654
12    12.227877   10.418127     8.77899    7.556601    6.385379    4.709881
..          ...         ...         ...         ...         ...         ...
139  867.422496  746.551342  629.324765  540.445747  463.161635  343.041209
140   12.125643   10.380369    8.758384     7.45888    6.392379    4.748024
141  908.607362  782.026348  661.359288  567.452084  486.304097  361.241487
142   13.168265   11.314878    9.516606    8.184725    7.090248    5.126673
143  876.026547  754.473575  637.182364  546.764423  468.786492  347.569434

[136 rows x 6 columns]

In [42]:
np.isnan(df.to_numpy()[8:, 2:8].astype(float)).any()

False